@model Webbsida.ViewModels.GetEventViewModel

<style>
    #GetEventImage {
        background-image: @Url.Content(Model.Event.ImagePath);
        -ms-background-position-x: center;
        -ms-background-position-y: bottom;
        background-position: center bottom;
        -ms-background-size: cover;
        background-size: cover;
        -ms-behavior: url(backgroundsize.min.htc);
        -ms-background-position-x: center;
        -ms-background-position-y: bottom;
        background-position: center bottom;
    }
</style>

<div id="GetEventMain">
    <div id="GetEventMasterPanel">
        <div id="GetEventMainPanel">
            <div id="GetEventImagePanel">
                <div id="GetEventImage" class="bg-image"></div>
                <h2>@Html.DisplayFor(model => model.Event.EventName)</h2>
            </div>
            <div id="GetEventMoreDetails">
                <div class="GetEventDetailContainer">
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.Name)</p>
                        <p>@Html.DisplayFor(model => model.Event.Name)</p>
                    </div>
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.PhoneNumber)</p>
                        <p>@Html.DisplayFor(model => model.Event.PhoneNumber)</p>
                    </div>
                    <div>
                        <p class="bold">Adress</p>
                        <p>
                            <span id="AddressPlaceHolder"></span>
                        </p>
                    </div>
                </div>
                <div class="GetEventDetailContainer">
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.StartDate)</p>
                        <p>@Html.DisplayFor(model => model.Event.StartDate)</p>
                    </div>
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.EndDate)</p>
                        <p>@Html.DisplayFor(model => model.Event.EndDate)</p>
                    </div>
                </div>
                <div class="GetEventDetailContainer">
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.MaxSignups)</p>
                        <p>@Html.DisplayFor(model => model.Event.MaxSignups)</p>
                    </div>
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.MinSignups)</p>
                        <p>@Html.DisplayFor(model => model.Event.MinSignups)</p>
                    </div>
                    <div>
                        <p class="bold">@Html.DisplayNameFor(model => model.Event.Price)</p>
                        <p>
                            @if (Model.Event.Price != null && Model.Event.Price != 0)
                            {
                                @Html.DisplayFor(model => model.Event.Price)
                            }
                            else
                            {
                                <span>GRATIS!!!!</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="GetEventsDescription">
        <p>@Html.DisplayNameFor(model => model.Event.Description)</p>
        <p>@Html.DisplayFor(model => model.Event.Description)</p>
    </div>

    <div class="well well-sm">
        <span class="glyphicon glyphicon-tags">&nbsp;</span>
        @foreach (var tag in @Model.Event.Tags)
        {
            <span class="label label-info">@tag.Name</span>
        }
    </div>

    <div id="bookingSystem">
        @Html.Action("GetBookingData", new {eventId = @Model.Event.Id})
    </div>

    <input type="hidden" name="EventId" id="Id" value="@Model.Event.Id"/>
    <div id="map"></div>
</div>

@section Scripts {
    <script src="~/Scripts/site/geoScriptsV2.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlemvE5X2QVIkrj0r4r_rJkLRilNdK9xg&callback=GoogleMapsEventController.initSingleEventDisplayingMap"></script>

    <script>
        $(document).ready(function()
        {
            $('GetEventImage').css('background-image', 'url(' + @Url.Content(Model.Event.ImagePath) + ')');
        });

        $(function() {
            $("#AddressPlaceHolder").load("/api/GeoData/RequestAddressFromCoordinates" + "?latitude=" + @Model.Event.Latitude + "&longitude=" + @Model.Event.Longitude);


            $("body").on("click", "#bookButton", function() {
                $.ajax({
                    url: "/Event/BookEvent",
                    type: "post",
                    data: { eventId: @Model.Event.Id }, //if you need to post Model data, use this
                    success: function(result) {
                        $("#bookingSystem").html(result);
                    }
                });
            });

            $("body").on("click", "#unbookButton", function() {
                $.ajax({
                    url: "/Event/UnBookEvent",
                    type: "post",
                    data: { eventId: @Model.Event.Id, fromPage: "GetEvent" }, //if you need to post Model data, use this
                    success: function(result) {
                        $("#bookingSystem").html(result);
                    }
                });
            });
        });
    </script>

    @*@Scripts.Render("~/scripts")
        @Styles.Render("~/Content/anypicker-all.min.css")

        <script type="text/javascript">
                $(document).ready(function() {
                    $(".Startdate").AnyPicker(
                    {
                        mode: "datetime",
                        dateTimeFormat: "yyyy/MM/dd hh:mm",
                        theme: "iOS"
                    }).prop('readonly', true);;
                });

                $(document).ready(function () {
                    $(".Enddate").AnyPicker(
                    {
                        mode: "datetime",
                        dateTimeFormat: "yyyy/MM/dd hh:mm",
                        theme: "iOS"
                    }).prop('readonly', true);;
                });

        </script>*@


}
