@model Webbsida.ViewModels.GetEventViewModel

<h2>@Html.DisplayFor(model => model.Event.EventName)</h2>

<img src="@Url.Content(Model.Event.ImagePath)" alt="Image" />

<div id="Main">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.StartDate)
        </dt>

        <dd>
            <span class="Startdate">
                @Html.DisplayFor(model => model.Event.StartDate)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EndDate)
        </dt>

        <dd>
            <span class="Enddate">
                @Html.DisplayFor(model => model.Event.EndDate)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.MaxSignups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.MaxSignups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.MinSignups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.MinSignups)
        </dd>

        <dt>
            Adress:
        </dt>
        <dd>
            <span id="AddressPlaceHolder"></span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Price)
        </dt>

        <dd>
            @if (Model.Event.Price != null && Model.Event.Price != 0)
            {
                @Html.DisplayFor(model => model.Event.Price)
            }
            else
            {
                <span>GRATIS!!!!</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.PhoneNumber)
        </dd>

    </dl>

    <div class="well well-sm">
        <span class="glyphicon glyphicon-tags">&nbsp;</span>
        @foreach (var tag in @Model.Event.Tags)
        {
            <span class="label label-info">@tag.Name</span>
        }
    </div>

    <div id="bookingSystem">
        @Html.Action("GetBookingData", new { eventId = @Model.Event.Id })
    </div>

    <input type="hidden" name="EventId" id="Id" value="@Model.Event.Id" />
    <div id="map"></div>
</div>

@section Scripts {
    <script src="~/Scripts/site/geoScriptsV2.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlemvE5X2QVIkrj0r4r_rJkLRilNdK9xg&callback=GoogleMapsEventController.initSingleEventDisplayingMap"></script>

    <script>
        $(function() {
            $("#AddressPlaceHolder").load("/api/GeoData/RequestAddressFromCoordinates" + "?latitude=" + @Model.Event.Latitude + "&longitude=" + @Model.Event.Longitude);


            $("body").on("click", "#bookButton", function() {
                $.ajax({
                    url: "/Event/BookEvent",
                    type: "post",
                    data: { eventId: @Model.Event.Id }, //if you need to post Model data, use this
                    success: function(result) {
                        $("#bookingSystem").html(result);
                    }
                });
            });

            $("body").on("click", "#unbookButton", function() {
                $.ajax({
                    url: "/Event/UnBookEvent",
                    type: "post",
                    data: { eventId: @Model.Event.Id, fromPage:"GetEvent"}, //if you need to post Model data, use this
                    success: function(result) {
                        $("#bookingSystem").html(result);
                    }
                });
            });

        });
    </script>

    @*@Scripts.Render("~/scripts")
        @Styles.Render("~/Content/anypicker-all.min.css")

        <script type="text/javascript">
                $(document).ready(function() {
                    $(".Startdate").AnyPicker(
                    {
                        mode: "datetime",
                        dateTimeFormat: "yyyy/MM/dd hh:mm",
                        theme: "iOS"
                    }).prop('readonly', true);;
                });

                $(document).ready(function () {
                    $(".Enddate").AnyPicker(
                    {
                        mode: "datetime",
                        dateTimeFormat: "yyyy/MM/dd hh:mm",
                        theme: "iOS"
                    }).prop('readonly', true);;
                });

        </script>*@


}
