@model Webbsida.Models.RegisterViewModel
@{
    ViewBag.Title = "Registera";
}





  
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    // Adding the views for the new properties that are used to register a user.
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    @*<div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = "DD/MM/YYYY", maxlength = "100" })
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new {@class = "col-md-2 control-label"})


        @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
    
    </div>

 


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/scripts")
    @Styles.Render("~/Content/anypicker-all.min.css")

    <script type="text/javascript">

        $(document).ready(function() {
            $("#DateOfBirth").AnyPicker(
            {
                mode: "datetime",
                dateTimeFormat: "yyyy/MM/dd hh:mm:ss",
                theme: "iOS"
            });
        });


        //$(document).ready(function () {
        //    $('input[type=datetime]').datepicker({
        //        dateFormat: "yy/M/dd",
        //        changeMonth: true,
        //        changeYear: true,
        //        yearRange: "-60:+0",
        //        showOtherMonths: true,
        //        selectOtherMonths: true,
        //        monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
        //    });

        //});
    </script>
}
