@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul id="LoginNav" class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Event", "Create", "Event", routeValues: null, htmlAttributes: new { title = "Manage", @class = "LoginStuff" })</li>
          <li>
            @Html.ActionLink("Min sida", "Index", "MyEvents", routeValues: null, htmlAttributes: new {title = "Manage", @class = "LoginStuff"})
        </li>
        <li><a class="LoginStuff" href="javascript:document.getElementById('logoutForm').submit()">Logga ut </a></li>
    </ul>
    }
}
else
{
    <ul id="LoginNav" class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registera", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "LoginStuff" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "LoginStuff" })</li>
    </ul>
}
